<a href="https://colab.research.google.com/github/meenprasadjaisi/Learing-ML/blob/main/Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas Library:

Useful for Data Processing & Analysis

Pandas Data Frame:

Pandas DataFrame is two-dimensional tabular data structure with labeled axes (rows and columns).

In [1]:
# importing Libraries
import numpy as np
import pandas as pd

Creating a Pandas DataFrame

In [2]:
# importing the boston house price data
from sklearn.datasets import load_boston

In [3]:
boston_dataset = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

Loading the Dataset

In [4]:
diabetes_data = pd.read_csv('/content/diabetes.csv')

In [6]:
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
diabetes_data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
diabetes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [10]:
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [12]:
X = diabetes_data.drop(['Outcome'], axis = 1)
Y = diabetes_data['Outcome']

In [13]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, stratify = Y, random_state=2, test_size=0.2)

In [15]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

In [16]:
# Create Model
model = LogisticRegression()

In [17]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation

In [19]:
# Accuracy on Training dataset
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print(training_data_accuracy)

0.7850162866449512

In [21]:
# Accuracy on Testing Dataset
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print(testing_data_accuracy)

0.7532467532467533

Building a Predictive System

In [24]:
input_data = (6,148,72,35,0,33.6,0.627,50)

# changing the input data into numpy array
input_data_to_nparray = np.asarray(input_data)

# chinaging the shape of the input data
input_data_reshape = input_data_to_nparray.reshape(1,-1)

prediction = model.predict(input_data_reshape)
print(prediction)

if prediction[0] == 0:
  print('The person doesnot have Diabetes')
else:
  print('The person have Diabetes')

[1]
The person have Diabetes

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [22]:
for column in X.columns:
  print(column)

Pregnancies
Glucose
BloodPressure
SkinThickness
Insulin
BMI
DiabetesPedigreeFunction
Age

Creating a Data frame

In [27]:
df = pd.DataFrame(np.random.rand(30,10))

In [29]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.648947,0.137525,0.678193,0.867122,0.155759,0.356987,0.567668,0.679620,0.114195,0.958408
1,0.195831,0.462309,0.310193,0.604485,0.756475,0.548243,0.145638,0.241651,0.193771,0.883295
2,0.774865,0.091213,0.475777,0.345682,0.914005,0.980492,0.530600,0.322913,0.390605,0.513747
3,0.887620,0.490243,0.717217,0.594092,0.909529,0.887741,0.275634,0.941398,0.605797,0.133506
4,0.935853,0.003403,0.367459,0.546811,0.394709,0.421554,0.196042,0.413624,0.252957,0.823634

In [30]:
df.corr()

,0,1,2,3,4,5,6,7,8,9
0,1.000000,-0.227029,0.275320,-0.077158,0.145987,0.086997,0.152352,0.117149,0.055703,-0.066616
1,-0.227029,1.000000,-0.042141,-0.025653,-0.143981,-0.512416,-0.045354,0.149901,0.026160,-0.293716
2,0.275320,-0.042141,1.000000,0.202277,0.265216,-0.269968,0.093887,0.096827,-0.297158,-0.151417
3,-0.077158,-0.025653,0.202277,1.000000,-0.502848,0.016005,-0.157878,0.156090,0.090135,0.169717
4,0.145987,-0.143981,0.265216,-0.502848,1.000000,0.226943,0.241573,-0.176844,-0.171780,-0.130244
5,0.086997,-0.512416,-0.269968,0.016005,0.226943,1.000000,0.096170,-0.081642,0.084315,-0.044512
6,0.152352,-0.045354,0.093887,-0.157878,0.241573,0.096170,1.000000,-0.019965,-0.078247,0.263948
7,0.117149,0.149901,0.096827,0.156090,-0.176844,-0.081642,-0.019965,1.000000,0.221955,-0.135746
8,0.055703,0.026160,-0.297158,0.090135,-0.171780,0.084315,-0.078247,0.221955,1.000000,-0.107575
9,-0.066616,-0.293716,-0.151417,0.169717,-0.130244,-0.044512,0.263948,-0.135746,-0.107575,1.000000