<a href="https://colab.research.google.com/github/meenprasadjaisi/Learing-ML/blob/main/Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Fetching data using Web Scraping

In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

if response code is 403

headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} -requests.get('url',headers=headers).text

In [2]:
website = requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

In [12]:
# website

In [4]:
soup = BeautifulSoup(website, 'lxml')

In [11]:
# print(soup.prettify())

In [10]:
soup.find_all('h1')[0].text

'List of companies in India'

TO FIND OUT NAMES OF THE COMPANIES

In [16]:
for i in soup.find_all('h2'):
  print(i.text.strip())

TCS
Accenture
Cognizant
ICICI Bank
HDFC Bank
Wipro
Infosys
Capgemini
Tech Mahindra
Genpact
HCL Technologies
Axis Bank
Amazon
IBM
Concentrix Corpo...
Larsen & Toubro ...
Reliance jio
Vodafone Idea
HDB Financial Se...
Teleperformance
Kotak Mahindra B...
Reliance Industr...
Bharti Airtel
Deloitte
Tata Motors
Reliance Retail
WNS
Mahindra & Mahin...
IndusInd Bank
Flipkart

TO FIND OUT THE RATINGS

In [18]:
for i in soup.find_all('p', class_='rating'):
  print(i.text.strip())

3.9
4.2
3.9
4.0
4.0
3.9
3.9
3.9
3.8
4.0
3.9
3.9
4.2
4.2
4.1
4.1
4.0
4.2
4.0
3.6
3.9
4.1
4.1
4.1
4.0
4.1
3.7
3.9
3.8
4.2

TO FIND OUT THE NUMBER OF REVIEWS

In [19]:
for i in soup.find_all('a', class_='review-count'):
  print(i.text.strip())

(46.8k Reviews)
(31.1k Reviews)
(28.3k Reviews)
(33.7k Reviews)
(38.1k Reviews)
(27.2k Reviews)
(27k Reviews)
(23k Reviews)
(20.9k Reviews)
(20.2k Reviews)
(17.5k Reviews)
(18.4k Reviews)
(16.8k Reviews)
(20.8k Reviews)
(14.9k Reviews)
(24k Reviews)
(14.3k Reviews)
(13.7k Reviews)
(12.9k Reviews)
(13.9k Reviews)
(13.2k Reviews)
(41.4k Reviews)
(12.5k Reviews)
(9.9k Reviews)
(12k Reviews)
(14.5k Reviews)
(6.7k Reviews)
(38.1k Reviews)
(6.6k Reviews)
(10.8k Reviews)

CONSIDERING THE WHOLE CONTAINER

In [21]:
company = soup.find_all('div', class_='company-content-wrapper')

In [22]:
len(company)

30

In [36]:
name = []
rating = []
review = []
company_type = []
headquarter = []
how_old = []
no_of_employee = []
for i in company:

  name.append(i.find('h2').text.strip())

  rating.append(i.find_all('p', class_='rating')[0].text.strip())

  review.append(i.find_all('a', class_='review-count')[0].text.strip())

  company_type.append(i.find_all('p', class_='infoEntity')[0].text.strip())

  headquarter.append(i.find_all('p', class_='infoEntity')[1].text.strip())

  how_old.append(i.find_all('p', class_='infoEntity')[2].text.strip())

  no_of_employee.append(i.find_all('p', class_='infoEntity')[3].text.strip())

In [39]:
# Creating a dictionary
d = { 'name':name, 
     'rating':rating,
     'rewiew':review,
     'company_type':company_type,
     'headquarter':headquarter,
     'how_old': how_old,
     'no_of_employee':no_of_employee 
     }

In [40]:
# Creating a dataframe
df = pd.DataFrame(d)

In [41]:
df.head()

,name,rating,rewiew,company_type,headquarter,how_old,no_of_employee
0,TCS,3.9,(46.8k Reviews),Public,"Mumbai,Maharashtra + 267 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.2,(31.1k Reviews),Public,Dublin + 140 more,33 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(28.3k Reviews),Private,Teaneck. New Jersey. + 93 more,28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(33.7k Reviews),Public,"Mumbai,Maharashtra + 1021 more",28 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(38.1k Reviews),Public,"Mumbai,Maharashtra + 1172 more",28 years old,1 Lakh+ Employees (India)

For all the pages

In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
final = pd.DataFrame()

for j in range(1,500):
  url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
  website = requests.get(url).text

  soup = BeautifulSoup(website, 'lxml')

  company = soup.find_all('div', class_='company-content-wrapper')

  name = []
  rating = []
  review = []
  company_type = []
  headquarter = []
  how_old = []
  no_of_employee = []
  for i in company:
    try:
      name.append(i.find('h2').text.strip())
    except:
      name.append(np.nan)

    try:
      rating.append(i.find_all('p', class_='rating')[0].text.strip())
    except:
      rating.append(np.nan)

    try:
      review.append(i.find_all('a', class_='review-count')[0].text.strip())
    except:
      review.append(np.nan)
    
    try:
      company_type.append(i.find_all('p', class_='infoEntity')[0].text.strip())
    except:
      company_type.append(np.nan)

    try:
      headquarter.append(i.find_all('p', class_='infoEntity')[1].text.strip())
    except:
      headquarter.append(np.nan)

    try:
      how_old.append(i.find_all('p', class_='infoEntity')[2].text.strip())
    except:
      how_old.append(np.nan)
    
    try:
      no_of_employee.append(i.find_all('p', class_='infoEntity')[3].text.strip())
    except:
      no_of_employee.append(np.nan)

  # Creating a dictionary
  d = { 'name':name, 
      'rating':rating,
      'rewiew':review,
      'company_type':company_type,
      'headquarter':headquarter,
      'how_old': how_old,
      'no_of_employee':no_of_employee 
      }
    
  df = pd.DataFrame(d)

  final = final.append(df, ignore_index=True)

In [5]:
final.shape

(9989, 7)

In [6]:
final.head(10)

,name,rating,rewiew,company_type,headquarter,how_old,no_of_employee
0,TCS,3.9,(46.8k Reviews),Public,"Mumbai,Maharashtra + 267 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.2,(31.1k Reviews),Public,Dublin + 140 more,33 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(28.3k Reviews),Private,Teaneck. New Jersey. + 93 more,28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(33.7k Reviews),Public,"Mumbai,Maharashtra + 1021 more",28 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(38.1k Reviews),Public,"Mumbai,Maharashtra + 1172 more",28 years old,1 Lakh+ Employees (India)
5,Wipro,3.9,(27.2k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 226 more",77 years old,1 Lakh+ Employees (India)
6,Infosys,3.9,(27k Reviews),Public,"Bengaluru/Bangalore,Karnataka + 121 more",41 years old,1 Lakh+ Employees (India)
7,Capgemini,3.9,(23k Reviews),Public,Paris + 75 more,55 years old,1 Lakh+ Employees (India)
8,Tech Mahindra,3.8,(20.9k Reviews),Public,"Pune,Maharashtra + 209 more",36 years old,50k-1 Lakh Employees (India)
9,Genpact,4.0,(20.2k Reviews),Public,"New York,New York + 66 more",25 years old,50k-1 Lakh Employees (India)