In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
customer_data = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv')

In [3]:
customer_data.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

The columns where we have to perform Ordinal Encoding are
- reviwe
- education

Label encoding
- purchased

In [4]:
df = customer_data.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,y_train,y_test = train_test_split(df.drop('purchased',axis=1),
                                                 df['purchased'],
                                                 test_size = 0.2,
                                                 random_state = 0)

In [8]:
df['education'].unique()

array(['School', 'UG', 'PG'], dtype=object)

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
oe = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'],['School','UG','PG']])

In [11]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [12]:
X_train_encoded = oe.transform(X_train)
X_test_encoded = oe.transform(X_test)

LabelEncoder

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le = LabelEncoder()
le.fit(y_train)

LabelEncoder()

In [15]:
y_train_encoded = le.transform(y_train)
y_test_encoded = le.transform(y_test)